<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://titi.app/tvprobe" version="0.0.1" viewmodes="maximized">
  <tizen:application id="TitiProbe0.Probe" package="TitiProbe0" required_version="8.0"/>
  <tizen:profile name="tv-samsung"/>
  <content src="index.html"/>
  <name>TitiProbe</name>
  <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
  <access origin="*" subdomains="true"/>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
  <tizen:privilege name="http://tizen.org/privilege/mediacapture"/>
  <tizen:privilege name="http://developer.samsung.com/privilege/microphone"/>
  <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
