* text=auto eol=lf
*.sh text eol=lf
*.bash text eol=lf
Dockerfile* text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.proto text eol=lf
*.rs text eol=lf
gradlew text eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf
*.png binary
*.jpg binary
*.webp binary
*.ttf binary
*.woff2 binary
*.jks binary
*.mp3 binary
*.wav binary
*.ogg binary
